<section class="wrapper">
  <p-table (onLazyLoad)="set_pager_and_load($event)"
           [totalRecords]="totalRecords"
           [rowHover]="true"
           [lazy]="true"
           [rowsPerPageOptions]="[5,10,15]"
           [rows]="pager.rows"
           [paginator]="true" [value]="users"
           [globalFilterFields]="['name','country.name','representative.name','status']">
    <ng-template pTemplate="caption">
      <div class="table-header d-flex justify-content-between align-items-center">
        <p class="m-0"> List of Users</p>
        <section class="pi-filters " [formGroup]="filterForm">
          <div class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input formControlName="first_name" pInputText type="text" placeholder="Search by name"/>
          </div>

          <div class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input formControlName="last_name" pInputText type="text" placeholder="Search by last name"/>
          </div>
        </section>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Last name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td><img class="avatar" [src]="user.avatar"></td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>
          <button
            [matTooltip]="user.is_favourite ? 'Remove from favourites' : 'Set as favourite'"
            mat-icon-button class="star" [class.is_favourite]="user.is_favourite"
            (click)="toggle_user_is_favourite(user.id)">
            <mat-icon>{{user.is_favourite ? 'star' : 'star_border'}}</mat-icon>
          </button>

          <a
            matTooltip="Show details"
            mat-icon-button class="show" [class.is_favourite]="user.is_favourite"
            [routerLink]="['/user-details',user.id]">
            <mat-icon>search</mat-icon>
          </a>
        </td>
      </tr>
    </ng-template>
  </p-table>


</section>
